
h1{
    color: #668cff;
    text-decoration-line: underline;
    font-family: Merriweather, serif;
    font-size: 46px;
    text-align: center;
}

p{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-align: center;
}

.first{
    color: #668cff;
    font-weight: bold;
}

.main{
    float: right;
    width: 70%;
    height: auto;
 }

  
  .column{
    float: left;
    padding: 15px;
  }

  .sidemenu{
    width: 25%;
  }
  
  .sidemenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .sidemenu li a {
    margin-bottom: 4px;
    display: block;
    padding: 30px;
    background-color: #eee;
    text-decoration: none;
    color: #666;
  }
  .sidemenu li a:hover {
    background-color: #555;
    color: white;
  }
  
  .sidemenu li a.active {
    background-color: #008CBA;
    color: white;
  }
  .instrument{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
  }
  .form{
    height:40px;
    width:80px;
  }